﻿@model FreelancerWeb.Models.ViewModel

@{
    List<SelectListItem> orderList = new List<SelectListItem>();
    List<string> li = new List<string>();
    foreach (var order in Model._orders)
    {
        if (order.total_billable_hours != 0)
        {
            li.Add(order.orderName);
        }
    }
    foreach (var doc in li)
    {

        orderList.Add(new SelectListItem
        {
            Text = doc,
            Value = doc,
        });
    }
}

<div class="container" style="margin-top:63px;">
    <h2>INSERT TIMESHEET</h2>
    <form class="form-container">
        <div class="form-group">
            <div class="label-error">
                <div class="label-container"><label for="order">ORDER</label></div>
                <div class="error-tag"><p style="display:none" id="errorOrder">ERROR: insert valid order!</p></div>
            </div>
            @Html.DropDownList("orders", orderList, "Seleziona un valore", new { @id = "order", @class = "orderType" })
        </div>
            <div class="form-group">
                <div  class="label-error">
                    <div class="label-container"><label for="workDescription">WORK DESCRIPTION</label></div>
                    <div class="error-tag"><p style="display:none" id="errorWork">ERROR: Insert valid work description!</p></div>
                </div>
                <input type="text" style="width:50%;" class="form-control" id="workDescription">
            </div>
            <div class="form-group">
                <div class="label-error">
                    <div class="label-container"><label for="hour">HOURS</label></div>
                    <div class="error-tag"><p style="display:none" id="errorHour">ERROR: insert valid number of hour!</p></div>
                </div>
                <input type="text" onkeypress="allowNumbersOnly(event)" style="width:50%;" class="form-control" id="hour">
            </div>
     <button type="button" class="btn btn-success" onclick="saveTimeSheeet();">INSERT</button>
</form>
</div>