﻿@model FreelancerWeb.Models.ViewModel 

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" media="screen" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</head>

<body>

    <div class="left-container">
        <div class="image-container">
            <p class="nickname">HELLO Manuelbo!</p>
        </div>
        <div class="button-container">
            <h1 class="title-menu">MENU</h1>
            <button type="button" class="action-button" onclick="openPage('review');">REVIEW</button>
            <button type="button" class="action-button" onclick="openPage('addSheets');">ADD SHEETS</button>
            <button type="button"  class="action-button" onclick="openPage('newOrder');">NEW ORDER</button>
        </div>
    </div>
    <div class="right-container">
        <div id="review" class="tabcontent">
           @if (Model._orders != null)
            {
                await Html.RenderPartialAsync("review", Model); 
            }
        </div>
        <div id="addSheets" class="tabcontent" style="display:none;">
            @{ await Html.RenderPartialAsync("addSheets");}
        </div>

        <div id="newOrder" class="tabcontent" style="display:none;">
            @{ await Html.RenderPartialAsync("newOrder");}
        </div>
    </div>
</body>

</html>

