﻿<div class="container" style="margin-top:63px;">
    <h2>INSERT NEW ORDER</h2>
    <form class="form-container">
        <div class="form-group">
            <div class="label-error">
                <div class="label-container"><label for="ordername">ORDER</label></div>
                <div class="error-tag"><p style="display:none" id="errorOrderName">ERROR: insert valid order!</p></div>
            </div>       
            <input type="text" style="width:50%;" class="form-control" id="ordname">
        </div>
        <div class="form-group">
            <div class="label-error">
                <div class="label-container"> <label for="billableHours">TOTAL BILLABLE HOURS</label></div>
                <div class="error-tag"><p style="display:none" id="errorbillable">ERROR: insert number of hour</p></div>
            </div>
            <input type="text" style="width:50%;" class="form-control" id="billableHours">
        </div>
        <div class="form-group">
            <div class="label-error">
                <div class="label-container"><label for="cost">COST PER HOUR</label></div>
                <div class="error-tag"><p style="display:none" id="errorcost">ERROR: insert valid price</p></div>
            </div>
            <input type="text" style="width:50%;" class="form-control" onkeypress="allowNumbersOnly(event)" id="cost">
        </div>
        <button type="button" class="btn btn-success" onclick="saveOrder();">INSERT</button>
    </form>
</div>