﻿@model FreelancerWeb.Models.ViewModel
<div class="table-container">
    <div class="table-title"><p>ORDERS REVIEW</p></div>
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead>
                <tr style="background-color:lightgray;height:50px;">
                    <th>ORDER</th>
                    <th>REMAINING HOURS</th>
                    <th style="width:10%;">PRICE</th>
                    <th style="width:10%;"></th>
                    <th style="width:10%;">STATUS</th>
                    <th style="text-align:center;">CREATE INVOICE</th>
                    <th style="width:10%;text-align:center;"></th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                @{ int i = 0;
                    foreach (var order in Model._orders)
                    {


                        <tr style="background-color:lightgray">
                            <td id="columnOrder@(i)">@order.orderName</td>
                            <td id="columnbillable@(i)">@order.total_billable_hours</td>
                            <td id="columncost@(i)" style="width:10%;">@order.cost_per_hour</td>
                            <td style="width:10%;"><button class="dettaglio" onclick="openModal('@i');" style="background-color:lightgray">DETAILS</button></td>
                            @if (order.total_billable_hours == 0)
                            {
                                <td style="color:darkred;width:10%;">CLOSED</td>
                                <td class="td-button"><button class="active-button" onclick="createInvoice('@i');">FATTURA</button></td>
                            }
                            else
                            {
                                <td style="color:forestgreen;width:10%;">OPEN</td>
                                <td class="td-button"><button disabled class="inactive-button">INVOICE</button></td>
                            }
                            <td class="td-button-delete"><button class="delete-button" onclick="deleteOrder('@i');">DELETE</button></td>
                        </tr>


                        <div class="modal" id="myModal@(i)">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="dettOrder@(i)">@order.orderName</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div style="width:100%;">
                                            <div class="title-modal"><p>DATA</p></div>
                                            <div class="title-modal"><p>DESCRIZIONE</p></div>
                                            <div class="title-modal"><p>ORE</p></div>
                                            <div class="title-modal"style="text-align:center"><p>CANCELLA</p></div>
                                        </div>
                                        @if (order.detail_per_day.Count > 0)
                                        {
                                            int z = 0;
                                            foreach (var detail in order.detail_per_day)
                                            {

                                                <div style="width:100%;">
                                                    <div class="title-modal" id="detDate@(z)">@detail.date</div>
                                                    <div class="title-modal" id="detDesc@(z)">@detail.work_description</div>
                                                    <div class="title-modal" id="detHour@(z)">@detail.working_hours</div>
                                                    <div class="title-modal">
                                                        <button class="delete-buttonModal" onclick="deleteTimeSheet('@i','@z');">DELETE</button>
                                                    </div>
                                                </div>
                                                z++;
                                            }
                                        }
                                    </div>
                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>



                            </div>
                        </div>




                        i++;
                    }

                }

            </tbody>
        </table>
    </div>
</div>
