﻿
body {
    height: 100vh;
    margin: 0;
}

.left-container {
    width: 25%;
    height: 100%;
    background-color: lightgrey;
    float: left;
}

.right-container {
    width: 75%;
    height: 100%;
    background-color: lightgrey;
    float: right;
}

.button-container {
    width:100%;
}

.action-button {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    width: 60%;
    margin-top: 20px;
    margin-left: 76px;
    cursor: pointer;
}


.image-container {
    width: 100%;
    height: 100px;
    margin-top: 70px;
    
}

.user-image {
    height: 190px;
    width: 190px;
    border-radius: 130px;
    padding: 5px;
    margin-top:50px;
    margin-left:95px;
}



table {
    width: 100%;
    
}

.tbl-header {
    background-color: rgba(255,255,255,0.3);
}

.tbl-content {
    height: 100%;
    overflow-x: auto;
    margin-top: 0px;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #2d2d2d;
    width: 20%;
    border-color: white;
    border-radius: 10px;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #2d2d2d;
    width: 20%;
    height: 50px;
    border-radius: 10px;
}

.table-title {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 1px;
    background-color: lightgray;
    height: 60px;
    color: #2d2d2d;
    font-size: 2.5rem;
    font-weight: 500;

}

.active-button {
    background-color: #28a745;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}

.inactive-button {
    background-color: darkgray;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}
.delete-button {
    background-color: darkred;
    color: white;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
}
.delete-buttonModal {
    background-color: darkred;
    color: white;
    width: 100%;
    height: 50%;
    border: none;
    cursor: pointer;
}
.td-button {
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    width: 20%;
    padding: 0px;
    height: 40px;
}
.td-button-delete {
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    width: 10%;
    padding: 0px;
    height: 40px;
}

.nickname {
    font-size: 20px;
    color: #2d2d2d;
    text-align: center
}

.detail {
    background-color:darkgray;
    color:white;
    display:none;
}
.detail-row {
   
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px; 
}

.orderType {
    display: block;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-container {
    margin-top: 70px
}

.title-menu {
    text-align:center;
}
.table-container {
    width:90%;
    margin-top: 162px;
}
.dettaglio {
    border: none;
    text-align: center;
    color: red;
    cursor: pointer;
}

.title-modal {
    width: 25%;
    float: left;
    text-align: left;
    height: 50px;
}

.error-tag {
    color: darkred;
    width: 30%;
    float: left;
}

.label-error {
width:100%;
height:40px;
}

.label-container {
    width: 20%;
    float: left;
}